<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landingpage.css">
    <link rel="stylesheet" href="/css/hostels.css">
    <title>Apartment</title>
</head>
<body>
    <section class="header-section-hostels">
        <nav class="nav-bar-hostels">
            <div class="brand-name-hostels">Logo.</div>
            <div class="nav-search-hostels">
                <div class="search-item-hostels">Search</div>
                <div class="search-icon-hostels">
                    <img src="/Assets/Images/search-icon.png" alt="" width="20px" height="20px">
                </div>
            </div>
            <div class="user-authentication-hostels"></div>
        </nav>
        <div class="filters-section-hostels">
            <div class="filter-item-box-hostels">
                bhk <span class="down-arrow-hostels">
                    <img src="/Assets/Images/down-arrow.png" alt="" width="16px" height="16px">
                </span>
            </div>
            <div class="filter-item-box-hostels">
                Budget <span class="down-arrow-hostels">
                    <img src="/Assets/Images/down-arrow.png" alt="" width="16px" height="16px">
                </span>
            </div>
            <div class="filter-item-box-hostels">
                Amenities <span class="down-arrow-hostels">
                    <img src="/Assets/Images/down-arrow.png" alt="" width="16px" height="16px">
                </span>
            </div>
            <div class="filter-item-box-hostels">
                Square Footage <span class="down-arrow-hostels">
                    <img src="/Assets/Images/down-arrow.png" alt="" width="16px" height="16px">
                </span>
            </div>
            <div class="filter-item-box-hostels">
                Filters <span class="down-arrow-hostels">
                    <img src="/Assets/Images/down-arrow.png" alt="" width="16px" height="16px">
                </span>
            </div>
        </div>
    </section>
    <section class="main-section-hostels">
        <div class="section-heading-hostels">
            Apartment in Location
        </div>
        {{>body}}
    </section>
    {{>footer}}
</body>
</html>