<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfterLogin/signuppage</title>
    <link rel="stylesheet" href="AfterLoginpage.css">
</head>

<body>
    <div class="afterloginpagecontainer">
        <div class="optioncontainer">
            <div class="navbar">
                <h3 class="logo"> Logo.</h3>
                <div class="searchbar">

                    <p class="loc">Location</p>
                    <div class="vl-loc">

                    </div>
                    <p class="loca">Locality</p>
                    <div class="vl-loca">

                    </div>
                    <p class="type">Type</p>

                    <p class="search_bar"><img src="images/search-icon.png" alt="search bar logo" width="20px"
                            height="20px"></p>
                </div>
                <div class="listproperty">
                    <p class="prop"> List your Property</p>
                </div>
                <div class="about">

                </div>


            </div>
            <div class="resident-type">
                <p class="pg">Pg</p>
                <p class="hostel">Hostel</p>
                <p class="apartment">Apartment</p>
                <div class="column-pg"></div>
                <div class="column-hostel"></div>
                <div class="column-apartment"></div>

            </div>
        </div>

        <div class="main-container-rooms-examples">
            <div class="popular-pg-hostels-apartments">
                <div class="popular-pg-in-kolkata">
                    <h3 class="popular-pg-text">Popular Pg in Kolkata</h3>
                    <div class="column-pg-in-kolkata-1">


                        <div class="column-pg-1-1">
                            <div class="like-meter-pg"></div>
                            <div class="gender-specific-pg">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="pg-name">ShriNiketan Pg</h3>
                        <h3 class="pg-area">Dum Dum, Kolkata</h3>
                        <button class="pg-btn">See Details</button>
                    </div>
                    <div class="column-pg-in-kolkata-2">
                        <div class="column-pg-2-2">
                            <div class="like-meter-pg"></div>
                            <div class="gender-specific-pg">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="pg-name">ShriNiketan Pg</h3>
                        <h3 class="pg-area">Dum Dum, Kolkata</h3>
                        <button class="pg-btn">See Details</button>
                    </div>
                    <div class="column-pg-in-kolkata-3">
                        <div class="column-pg-3-3">
                            <div class="like-meter-pg"></div>
                            <div class="gender-specific-pg">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="pg-name">ShriNiketan Pg</h3>
                        <h3 class="pg-area">Dum Dum, Kolkata</h3>
                        <button class="pg-btn">See Details</button>
                    </div>
                </div>

                <div class="popular-hostel-in-kolkata">
                    <h3 class="popular-hostel-text">Popular Hostels in Kolkata</h3>
                    <div class="column-hostel-in-kolkata-1">
                        <div class="column-hostel-1-1">
                            <div class="like-meter-hostel"></div>
                            <div class="gender-specific-hostel">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="hostel-name">ShriNiketan Pg</h3>
                        <h3 class="hostel-area">Dum Dum, Kolkata</h3>
                        <button class="hostel-btn">See Details</button>
                    </div>
                    <div class="column-hostel-in-kolkata-2">
                        <div class="column-hostel-2-2">
                            <div class="like-meter-hostel"></div>
                            <div class="gender-specific-hostel">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="hostel-name">ShriNiketan Pg</h3>
                        <h3 class="hostel-area">Dum Dum, Kolkata</h3>
                        <button class="hostel-btn">See Details</button>
                    </div>
                    <div class="column-hostel-in-kolkata-3">
                        <div class="column-hostel-3-3">
                            <div class="like-meter-hostel"></div>
                            <div class="gender-specific-hostel">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="hostel-name">ShriNiketan Pg</h3>
                        <h3 class="hostel-area">Dum Dum, Kolkata</h3>
                        <button class="hostel-btn">See Details</button>
                    </div>
                </div>
                <div class="popular-apartment-in-kolkata">
                    <h3 class="popular-apartment-text">Popular Apartments in Kolkata</h3>
                    <div class="column-apartment-in-kolkata-1">
                        <div class="column-apartment-1-1">
                            <div class="like-meter-apartment"></div>
                            <div class="gender-specific-apartment">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="apartment-name">ShriNiketan Pg</h3>
                        <h3 class="apartment-area">Dum Dum, Kolkata</h3>
                        <button class="apartment-btn">See Details</button>
                    </div>
                    <div class="column-apartment-in-kolkata-2">
                        <div class="column-apartment-2-2">
                            <div class="like-meter-apartment"></div>
                            <div class="gender-specific-apartment">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="apartment-name">ShriNiketan Pg</h3>
                        <h3 class="apartment-area">Dum Dum, Kolkata</h3>
                        <button class="apartment-btn">See Details</button>
                    </div>
                    <div class="column-apartment-in-kolkata-3">
                        <div class="column-apartment-3-3">
                            <div class="like-meter-apartment"></div>
                            <div class="gender-specific-apartment">
                                <p class="gender-text">Girls</p>
                            </div>
                        </div>
                        <h3 class="apartment-name">ShriNiketan Pg</h3>
                        <h3 class="apartment-area">Dum Dum, Kolkata</h3>
                        <button class="apartment-btn">See Details</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer-section">
            <div class="footer-text-section">
                <h3 class="brand">About Brand</h3>
                <h3 class="services">Services</h3>
                <p class="brand-about-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ullam non sit
                    esse ad, minima est officiis. Nihil culpa dignissimos suscipit deleniti, labore repellendus vitae
                    ipsam illo amet dolorem accusantium?
                    Ab tempore ex itaque incidunt magni, at nulla pariatur a vel sint quis officia harum perferendis
                    autem officiis vero similique maiores odio voluptatem tenetur minima quia. Voluptatum minus fuga
                    placeat.
                    Numquam corporis porro ab, neque, aspernatur debitis repellendus voluptate aut eum non error
                    inventore officia veniam, amet possimus sunt tenetur soluta ipsam enim. Aliquid earum in nulla dolor
                    facere doloribus!
                    Enim tenetur similique vel, quisquam sunt praesentium doloribus, obcaecati eveniet porro quos
                    deleniti eum unde reprehenderit, error voluptate consequatur cupiditate! Consequatur alias incidunt
                    reiciendis esse explicabo assumenda quidem optio quis.</p>
                <p class="services-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia facilis
                    numquam sunt explicabo eveniet nihil exercitationem dolores quibusdam voluptas, placeat eos sint?
                    Consequatur cumque ullam, laudantium excepturi quibusdam magnam cum.</p>

                <h4 class="social-media">Social media</h4>
                <div class="facebook-logo"></div>
                <div class="instagram-logo"></div>
                <div class="twitter-logo"></div>
                <div class="youtube-logo"></div>
                <div class="linkedln-logo"></div>
            </div>
        </div>
        <div class="copyright-section">
            <p class="copyright">@2023 Brand name | All rights reserved</p>
        </div>
    </div>
    <script src="Afterloginpage.js"></script>
</body>

</html>