<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/css/landingpage.css">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <section class="header-section-home">
        <nav class="nav-bar-home">
            <div class="brand-name-home">
                UniRentals.
            </div>
            <div class="nav-search-home">
                <div class="select-box-container-home">
                    <select name="city" id="city-home">
                        <option value="">City</option>
                    </select>
                </div>
                <hr class="hr-home">
                <div class="select-box-container-home">
                    <select name="locality" id="locality-home">
                        <option value="">Locality</option>
                    </select>
                </div>
                <hr class="hr-home">
                <div class="select-box-container-home">
                    <select name="Property Type" id="property-type-home">
                        <option value="">Property Type</option>
                    </select>
                </div>
                <div class="search-box-container-home">
                    <img src="/Assets/Images/search-icon.png" alt="" width="20px" height="20px">
                    
                </div>
            </div>
            <div class="list-property-home">
                <a href="addproperty.hbs" target="_blank" rel="noopener noreferrer" class="list-property-link">List Property</a>
                
            </div>
            {{!-- <div class="user-authentication-home"></div> --}}
        </nav>
    </section>
    <section class="main-section-home">
        <div class="main-section-item-home">
            <div class="main-section-property-home">
                <div class="main-section-property-type-home">
                    <a href="/pg.hbs" target="_blank" rel="noopener noreferrer">
                        <img src="Assets/Images/pgbed.jpg" alt="" width="330px" height="310px" class="property-image-home">
                    </a>
                    <div class="main-section-property-type-heading-home">
                        Pg
                    </div>
                </div>
                <div class="main-section-property-type-home">
                    <a href="/hostels.hbs" target="_blank" rel="noopener noreferrer">
                        <img src="/Assets/Images/hostelbed.jpg" alt="" width="330px" height="310px" class="property-image-home">
                    </a>
                    <div class="main-section-property-type-heading-home">
                        Hostel
                    </div>
                </div>
                <div class="main-section-property-type-home">
                    <a href="/apartment.hbs" target="_blank" rel="noopener noreferrer">
                    <img src="/Assets/Images/apartment.jpg" alt="" width="330px" height="310px" class="property-image-home">
                    </a>
                    <div class="main-section-property-type-heading-home">
                        Apartment
                    </div>
                </div>
            </div>
            <div class="popular-property-type-home">
                <div class="popular-property-type-heading-home">
                    Popular Pg in City
                </div>
                <div class="popular-property-type-main-body-home">
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                </div>
            </div>
            {{!-- hostels --}}
            <div class="popular-property-type-home">
                <div class="popular-property-type-heading-home">
                    Popular Hostel in City
                </div>
                <div class="popular-property-type-main-body-home">
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                </div>
            </div>
            {{!-- apartments --}}
            <div class="popular-property-type-home">
                <div class="popular-property-type-heading-home">
                    Popular Apartment in City
                </div>
                <div class="popular-property-type-main-body-home">
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                    <div class="popular-property-type-item">
                        <div class="popular-property-type-item-image-container">
                            <img src="/Assets/Images/house2.jpg" alt="" width="330px">
                        </div>
                        <div class="popular-property-type-item-content-container">
                            ShriNiketan Pg <br>
                            Dum Dum, Kolkata
                        </div>
                        <div class="popular-property-type-item-details-container">
                            See Details
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        {{>footer}}


        
    <script src="/js/home.js"></script>
</body>

</html>