<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/landingpage.css">
    <title>Document</title>
</head>
<body>
    <header class="header-section">
        <nav class="nav-bar">
            <div class="brand-name">Lorem.</div>
            <div class="user-authentication">
                <div class="log-in"><a href="login.html" target="_blank" rel="noopener noreferrer">Log in</a>  </div>
                <div class="sign-up"><a href="signup.html" target="_blank" rel="noopener noreferrer"> Sign up </a></div>
            </div>
        </nav>
    </header>
    <section class="main-section">
        <div class="main-section-container">
            <div class="main-heading">
                Find the Best <span class="main-heading-item"> Hostels/Pg </span> in <br>
                your preferred Location
            </div>
            <div class="search-box-container">
                <div class="search-box-item">
                    Location
                    <span class="search-box-item-logo">
                        <img src="./Assets/Images/down-arrow.png" alt="" height="15px" width="15px">
                    </span>
                </div>
                <hr class="horizontal-line">
                <div class="search-box-item">
                    Locality
                    <span class="search-box-item-logo">
                        <img src="./Assets/Images/down-arrow.png" alt="" height="15px" width="15px">
                    </span>
                </div>
                <hr class="horizontal-line">
                <div class="search-box-item">
                    What are you looking for?
                    <span class="search-box-item-logo">
                        <img src="./Assets/Images/down-arrow.png" alt="" height="15px" width="15px">
                    </span>
                </div>
                <div class="search">
                    Search
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="about-section-content">
            <div class="about-main">
            <div class="about-section-picture">
                <div class="image-container"></div>
            </div>
            <div class="about-section-main-content">
                <div class="about-section-heading">
                    <span class="about-heading">About us</span>
                </div>
                <div class="about-section-headline">
                    Our mission is to help students easily <br> find the perfect place to call home, <br> no matter where they are studying.
                </div>
                <div class="about-us">
                    We understand how difficult it can be to find a rental property that meets all your needs. Our platform allows you to search for properties based on your preferences, such as location, property type, and price range, and easily get in touch with the property owners to ask any questions or schedule a viewing.
                </div>
                <div class="explore-btn">
                    Explore more 
                    <span class="explore-icon">
                        <img src="./Assets/Images/diagonal-arrow.png" alt="" width="15px" height="15px">
                    </span>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="our-services-section">
        <div class="section-heading">
            Our Services
        </div>
        <div class="section-item-container">
            <div class="services-item"> <!--first item in services-->
                <div class="services-item-top-section"></div>
                <div class="services-item-image-container">
                    <img src="./Assets/Images/clean-house.jpg" alt="" width="280px" height="210px">
                </div>
                <div class="services-item-content">
                    <div class="services-item-heading">
                        Clean House
                    </div>
                    <div class="services-item-restcontent">
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    </div>
                </div>
            </div>
            <div class="services-item"> <!--second item in services-->
                <div class="services-item-top-section"></div>
                <div class="services-item-image-container">
                    <img src="./Assets/Images/safe-house.jpg" alt="" width="280px" height="210px">
                </div>
                <div class="services-item-content">
                    <div class="services-item-heading">
                        Clean House
                    </div>
                    <div class="services-item-restcontent">
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    </div>
                </div>
            </div>
            <div class="services-item"> <!--third item in services-->
                <div class="services-item-top-section"></div>
                <div class="services-item-image-container">
                    <img src="./Assets/Images/trusted-house.jpg" alt="" width="280px" height="210px">
                </div>
                <div class="services-item-content">
                    <div class="services-item-heading">
                        Clean House
                    </div>
                    <div class="services-item-restcontent">
                        Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="working-section">
        <div class="section-heading">
            How it works?
        </div>
        <div class="working-section-item-container">
            <div class="working-section-item"> <!--first how it works content-->
                <div class="working-section-item-image-container">
                    <img src="./Assets/Images/create-account.png" alt="" width="400px">
                </div>
                <div class="working-section-item-content">
                    <div class="numbering">
                        01
                    </div>
                    <div class="item-heading">
                        Create an account
                    </div>
                </div>
            </div>
            <div class="working-section-item"> <!--second how it works content-->
                <div class="working-section-item-content2">
                    <div class="numbering">
                        02
                    </div>
                    <div class="item-heading">
                        Search for Property
                    </div>
                </div>
                <div class="working-section-item-image-container2">
                    <img src="./Assets/Images/search.png" alt="" width="400px">
                </div>
            </div>
            <div class="working-section-item"> <!--third how it works content-->
                <div class="working-section-item-image-container">
                    <img src="./Assets/Images/contact-owner.png" alt="" width="400px" >
                </div>
                <div class="working-section-item-content">
                    <div class="numbering">
                        03
                    </div>
                    <div class="item-heading">
                        Contact Owner
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="faq">
        <div class="faq-heading">
            Frequently Asked <span class="questions">Questions</span>
        </div>
    </section>
</body>
</html>