<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/css/home.css"> --}}
    <link rel="stylesheet" href="/css/landingpage.css">
    <title>UniRentals</title>
</head>
<body>
    <header class="header-section">
        <nav class="nav-bar">
            <div class="brand-name">UniRentals.</div>
            <div class="user-authentication">
                <div class="log-in"><a href="login.hbs" target="_blank" >Log in</a>  </div>
                <div class="sign-up"><a href="signup.hbs" target="_blank" > Sign up </a></div>
            </div>
        </nav>
    </header>
    <section class="main-section">
        <div class="main-section-container">
            <div class="main-heading">
                Find the Best <span class="main-heading-item"> Hostels/Pg </span> in <br>
                your preferred Location
            </div>
            <div class="search-box-container">
                <div class="search-box-item">
                    {{!-- Location
                    <span class="search-box-item-logo">
                        <img src="./Assets/Images/down-arrow.png" alt="" height="15px" width="15px">
                    </span> --}}
                    <select name="country" id="country">
                        <option value="">Choose a Location</option>
                    </select>
                </div>
                <hr class="horizontal-line">
                <div class="search-box-item">
                    {{!-- Locality
                    <span class="search-box-item-logo">
                        <img src="./Assets/Images/down-arrow.png" alt="" height="15px" width="15px">
                    </span> --}}
                    <select name="locality" id="locality">
                         <option value="">Choose a locality</option>
                    </select>
                </div>
                <hr class="horizontal-line">
                <div class="search-box-item">
                    {{!-- What are you looking for?
                    <span class="search-box-item-logo">
                        <img src="./Assets/Images/down-arrow.png" alt="" height="15px" width="15px">
                    </span> --}}
                    <select name="propertyType" id="propertytype">
                        <option value="">What are you looking for?</option>
                        <option value="Hostel">Hostel</option>
                        <option value="pg">pg</option>
                        <option value="Apartment">Apartment</option>
                    </select>
                </div>
                <div class="search">
                    Search
                </div>
            </div>
        </div>
        <div class="hostels-graphics-container">
            <img src="/Assets/Images/hostels5.png" alt="" height="420px" id="image-hostel">
        </div>
    </section>
    <section class="about-section">
        <div class="about-section-content">
            <div class="about-main">
            <div class="about-section-picture">
                <div class="image-container"></div>
            </div>
            <div class="about-section-main-content">
                <div class="about-section-heading">
                    <span class="about-heading">About us</span>
                </div>
                <div class="about-section-headline">
                    Our mission is to help students easily <br> find the perfect place to call home, <br> no matter where they are studying.
                </div>
                <div class="about-us">
                    We understand how difficult it can be to find a rental property that meets all your needs. Our platform allows you to search for properties based on your preferences, such as location, property type, and price range, and easily get in touch with the property owners to ask any questions or schedule a viewing.
                </div>
                <div class="explore-btn">
                    Explore more 
                    <span class="explore-icon">
                        <img src="./Assets/Images/diagonal-arrow.png" alt="" width="15px" height="15px">
                    </span>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="our-services-section">
        <div class="section-heading">
            Our Services
        </div>
        <div class="section-item-container">
            <div class="services-item"> <!--first item in services-->
                <div class="services-item-top-section"></div>
                <div class="services-item-image-container">
                    <img src="./Assets/Images/clean-house.jpg" alt="" width="280px" height="210px">
                </div>
                <div class="services-item-content">
                    <div class="services-item-heading">
                        Trusted Property
                    </div>
                    <div class="services-item-restcontent">
                        Get access to only verified and genuine property.
                    </div>
                </div>
            </div>
            <div class="services-item"> <!--second item in services-->
                <div class="services-item-top-section"></div>
                <div class="services-item-image-container">
                    <img src="./Assets/Images/safe-house.jpg" alt="" width="280px" height="210px">
                </div>
                <div class="services-item-content">
                    <div class="services-item-heading">
                        lenient Communication
                    </div>
                    <div class="services-item-restcontent">
                        Directly connect with the owner through inbuilt chat system.
                    </div>
                </div>
            </div>
            <div class="services-item"> <!--third item in services-->
                <div class="services-item-top-section"></div>
                <div class="services-item-image-container">
                    <img src="./Assets/Images/trusted-house.jpg" alt="" width="280px" height="210px">
                </div>
                <div class="services-item-content">
                    <div class="services-item-heading">
                        Easy Payment
                    </div>
                    <div class="services-item-restcontent">
                        Pay bills with secure and safe transaction system.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="working-section">
        <div class="section-heading">
            How it works?
        </div>
        <div class="working-section-item-container">
            <div class="working-section-item"> <!--first how it works content-->
                <div class="working-section-item-image-container">
                    <img src="./Assets/Images/create-account.png" alt="" width="400px">
                </div>
                <div class="working-section-item-content">
                    <div class="numbering">
                        01
                    </div>
                    <div class="item-heading">
                        Create an account
                    </div>
                </div>
            </div>
            <div class="working-section-item"> <!--second how it works content-->
                <div class="working-section-item-content2">
                    <div class="numbering">
                        02
                    </div>
                    <div class="item-heading">
                        Search for Property
                    </div>
                </div>
                <div class="working-section-item-image-container2">
                    <img src="./Assets/Images/search.png" alt="" width="400px">
                </div>
            </div>
            <div class="working-section-item"> <!--third how it works content-->
                <div class="working-section-item-image-container">
                    <img src="./Assets/Images/contact-owner.png" alt="" width="400px" >
                </div>
                <div class="working-section-item-content">
                    <div class="numbering">
                        03
                    </div>
                    <div class="item-heading">
                        Contact Owner
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="faq">
        <div class="faq-heading">
            Frequently Asked <span class="questions">Questions</span>
        </div>
        <div class="questions-container">
            <hr>
            <div class="question-item">
                <div class="questions">
                    How does it work?
                </div>
                <div class="plus-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#00D285" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                </div>
            </div>
            <hr>
            <div class="question-item">
                <div class="questions">
                    How does it work?
                </div>
                <div class="plus-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#00D285" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                </div>
            </div>
            <hr>
            <div class="question-item">
                <div class="questions">
                    How does it work?
                </div>
                <div class="plus-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#00D285" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section class="footer-section">
        <div class="footer-items">
            <div class="footer-items-content">
                <div class="footer-about">
                    <span id="footer-items-heading">About us</span> <br>
                    <div class="footer-item-container-about">
                    
                    Our mission is to help students easily find the perfect place to call home, no matter where they are studying.
                    </div>
                </div>
                <div class="footer-services">
                    <span id="footer-items-heading">Our Services</span> <br>
                    <div class="footer-item-container">
                    Trusted Property <br>
                    lenient Communication <br>
                    Easy Payment 
                    </div>

                </div>
                <div class="footer-company">
                    <span id="footer-items-heading">Company</span> <br>
                    <div class="footer-item-container">
                    About Us <br>
                    Privacy Policy <br>
                    Terms &#38; Condition
                    </div>
                </div>
            </div>
            <div class="footer-socials">
                <span id="footer-items-heading">
                    Connect with us
                </span>
                <div class="social-icons">
                    <div class="social-icons-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#ffffff" class="bi bi-instagram" viewBox="0 0 16 16">
  <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
</svg>
                    </div>
                    <div class="social-icons-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#ffffff" class="bi bi-twitter" viewBox="0 0 16 16">
  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
</svg>
                    </div>
                    <div class="social-icons-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#ffffff" class="bi bi-youtube" viewBox="0 0 16 16">
  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
</svg>
                    </div>
                    <div class="social-icons-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#ffffff" class="bi bi-linkedin" viewBox="0 0 16 16">
  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
</svg>
                    </div>
                    <div class="social-icons-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#ffffff" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights-section">
            <hr>
            <div class="copyright-section-content">
            copyright 	&#169; TheFabCoders 2023 | All rights reserved
            </div>
        </div>
    </section>
    {{!-- {{>footer}} --}}
    <script type="module" src="/js/landingpage.js"></script>
    {{!-- <script src="/src/app.js"></script> --}}
</body>
</html>