<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details Page</title>
    <link rel="stylesheet" href="/css/propertydetails.css">
</head>

<body>
    <!-- <div class="property-details-container"> -->
    <div class="navbar">
        <div class="logo-about-section">
            <div class="logo">Logo.</div>
            <div class="about"></div>
        </div>

    </div>
    <div class="main-content-container">
        <div class="property-info">Shri Niketan Hostel </div>

        <div class="property-images">
            <div class="column-1"></div>
            <div class="column-2">
                <div class="column-2-1"></div>
                <div class="column-2-2">
                    <div class="plus-sign">+</div>
                    <div class="no-of-pictures">5 more</div>
                </div>
            </div>

        </div>
        <div class="property-price">
            <div class="column-price-1">
                <div class="about-property-column-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur nulla error eos,
                    possimus a? Nesciunt sequi deleniti illum. Ipsum suscipit nam amet, quo dicta minima expedita
                    impedit iste ipsa?
                </div>

                <div class="about-property-column-2">

                    <div class="wifi"><img class="wifi-img" src="/Assets/Images/full-signal.png" width: 24px height:24px
                            alt="Wifi Image">Free Wifi</div>
                    <div class="clean-rooms"> <img class="clean-room-img" src="/Assets/Images/housekeeping.png" width: 24px
                            height:24px alt="cleaning objects Images"> Clean Rooms</div>
                    <div class="hygenic-food"> <img class="food-img" src="/Assets/Images/rating.png" width: 24px height:24px
                            alt="Food Image">Hygenic Food</div>
                </div>



            </div>
            <div class="column-price-2">
                <div class="inner-box">
                    <div class="property-name">Shri Niketan Hostel </div>
                    <div class="property-cost">

                        <div class="amount">Amount</div>
                        <div class="cost">1000$</div>

                    </div>
                    <div class="tax-box">
                        <div class="tax">Tax</div>
                        <div class="tax-amount">20$</div>
                    </div>
                    <hr>
                    <div class="total-box">
                        <div class="total">Total</div>
                        <div class="total-amount">1050$</div>
                    </div>
                    <div class="pay-btn">Pay Now</div>
                    <div class="contact-seller-btn">Contact Seller</div>
                </div>
            </div>

        </div>

    </div>


    <!-- </div> -->
</body>

</html>