<section class="header-section-hostels">
        <nav class="nav-bar-hostels">
            <div class="brand-name-hostels">Logo.</div>
            <div class="nav-search-hostels">
                <div class="search-item-hostels">Search</div>
                <div class="search-icon-hostels">
                    <img src="/Assets/Images/search-icon.png" alt="" width="20px" height="20px">
                </div>
            </div>
            <div class="user-authentication-hostels"></div>
        </nav>
    </section>