{{!-- <section class="main-section"> --}}
        {{!-- <div class="section-heading">
            Hostels in Location
        </div> --}}
        <div class="items-container">
            <div class="items">
                <div class="items-image">
                </div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards

                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="items-image"></div>
                <div class="items-details">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container">
                    <div class="view-details-btn">
                        View Details
                    </div>
                </div>
            </div>
        </div>
    {{!-- </section> --}}