{{!-- <section class="main-section"> --}}
        {{!-- <div class="section-heading">
            Hostels in Location
        </div> --}}
        <div class="items-container-hostels">
            <div class="items-hostels">
                <div class="items-image-hostels">
                </div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards

                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
            <div class="items-hostels">
                <div class="items-image-hostels"></div>
                <div class="items-details-hostels">
                    ShantiNiketan Pg <br>
                    Dum Dum, Kolkata <br>
                    $ 3000 onwards
                </div>
                <div class="btn-container-hostels">
                    <div class="view-details-btn-hostels">
                        View Details
                    </div>
                </div>
            </div>
        </div>
    {{!-- </section> --}}