.main-section-add-property-page {
    position: relative;
    top: 70px;
    padding: 50px;
    /* width: 100%; */
}
.fill-details-add-property-section {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.form-content-heading-add-property-section {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.property-location-add-property-section {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 18px;
}
.property-location-heading-add-property-section {
    margin-bottom: 5px;
   
}
input#location {
    width: 98%;
    padding: 10px;
}
input#name{
    width: 98%;
    padding: 10px;
}
.property-location-add-property-section select {
    width: 100%;
    font-size: 17px;
    border: 1px solid;
    padding: 10px;
}
.form-content-add-property-section {
    width: 70%;
    padding: 40px;
    border: 1px solid white;
    box-shadow: 1px 2px 8px 3px #d0d0d0;
}
button.submit-btn-add-property {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #00d285;
    border: none;
    box-shadow: 1px 1px 5px 1px #b2b2b2;
    color: white;
    font-weight: bold;
}
.fill-details-add-property-pictures-section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed;
    margin-bottom: 20px;
    line-height: 2.8;
}
input#file {
    margin-left:65px;
    
}
@media screen and (max-width:427px) {
    .fill-details-add-property-pictures-section {
        padding: 3px;
    }
    input#file {
        font-size: 11px;
    }
        
    .files-to-be-attached {
        font-size: 11px;
    }
    
}
@media  screen and (min-width:427px) and (max-width:550px) {
    input#file{
        font-size:13px;
    }
    .files-to-be-attached{
        font-size:13px;
    }
    .fill-details-add-property-pictures-section{
        padding:10px;
    }
}