@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
    /* overflow-x: hidden; */
}
section.header-section-home {
    background-color: #00D285;
    color: white;
    font-weight: bold;
    /* padding: 10px 25px; */
    /* position: fixed; */
    z-index: 10;
    width: 100%;
    top: 0;
    display: flex;
}

nav.nav-bar-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    width: 100%;
}

.nav-search-home {
    display: flex;
    background-color: white;
    padding: 8px;
    width: 30%;
    justify-content: space-between;
    border-radius: 9px;
    align-items: center;
}
hr.hr-home {
    width: 0.1px;
    height: 20px;
    margin: 0;
}
.search-box-container-home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-property-home {
    padding: 9px;
    border: 1px solid white;
    border-radius: 9px;
}
.main-section-item-home {
    padding: 80px;
}

.main-section-property-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* margin: 0 30px; */
}
.main-section-property-type-home {
    /* border-radius: 9px; */
    margin-right: 40px;
    background-size: cover;
    background-position: center;
    
}
img.property-image-home {
    border-radius: 9px;
}
.main-section-property-type-heading-home {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.popular-property-type-home {
    /* padding: 10rem 0; */
    padding-top: 10rem;
}
.popular-property-type-heading-home {
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.popular-property-type-main-body-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.popular-property-type-item {
    margin: 0 30px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 9px;
    box-shadow: 2px 3px 5px 2px #cac7c7;
}
.popular-property-type-item-content-container {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}
.popular-property-type-item-details-container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d285;
    border-radius: 9px;
    font-size: 17px;
}

a.list-property-link {
    text-decoration: none;
    color: white;
}


