@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
    /* overflow-x: hidden; */
}
section.header-section-home {
    background-color: #00D285;
    color: white;
    font-weight: bold;
    /* padding: 10px 25px; */
    /* position: fixed; */
    z-index: 10;
    width: 100%;
    top: 0;
    display: flex;
}

nav.nav-bar-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    width: 100%;
}

.nav-search-home {
    display: flex;
    background-color: white;
    padding: 8px;
    width: 30%;
    justify-content: space-between;
    border-radius: 9px;
    align-items: center;
}
hr.hr-home {
    width: 0.1px;
    height: 20px;
    margin: 0;
}
.search-box-container-home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-property-home {
    padding: 9px;
    border: 1px solid white;
    border-radius: 9px;
}
.main-section-item-home {
    padding: 80px;
}

.main-section-property-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* margin: 0 30px; */
}
.main-section-property-type-home {
    /* border-radius: 9px; */
    margin-right: 40px;
    background-size: cover;
    background-position: center;
    
}
img.property-image-home {
    border-radius: 9px;
}
.main-section-property-type-heading-home {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
}

.popular-property-type-home {
    /* padding: 10rem 0; */
    padding-top: 10rem;
}
.popular-property-type-heading-home {
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.popular-property-type-main-body-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.popular-property-type-item {
    margin: 0 30px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 9px;
    box-shadow: 2px 3px 5px 2px #cac7c7;
}
.popular-property-type-item-content-container {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}
.popular-property-type-item-details-container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d285;
    border-radius: 9px;
    font-size: 17px;
}


/* .afterloginpagecontainer {
    width: 1520px;
    height: 2700px;

}

.optioncontainer {
    width: 1520px;
    height: 695px;

}

.navbar {
    position: relative;
    width: 1520px;
    height: 70px;
    background-color: #00D285;
    /* overflow-y: hidden; */
/* } */
/* 
.logo {

    position: relative;
    top: 23px;
    left: 130px;
    font-size: 21px;
    color: white;
    width: 88px;
}

.searchbar {
    position: relative;
    font-size: 18px;
    bottom: 12px;
    left: 330px;
    width: 527px;
    height: 40px;
    background-color: white;
    border-radius: 32px;
    /* overflow-y: hidden; */
/* } */

/* .loc {
    position: relative;
    left: 50px;
    top: 10px;
    font-size: 17px;
    width: 100px;
    text-align: left;

}

.vl-loc {
    border-left: 2px solid black;
    height: 30px;
    position: relative;
    left: 160px;
    bottom: 14px;


}

.loca {
    position: relative;
    left: 210px;
    bottom: 40px;
    font-size: 17px;
    width: 100px;
    text-align: left;


}

.vl-loca {
    border-left: 2px solid black;
    height: 30px;
    position: relative;
    left: 310px;
    bottom: 65px;

}

.type {
    position: relative;
    left: 350px;
    bottom: 92px;
    font-size: 17px;
    width: 100px; */

    /* border: 1px solid black; */


/* } */

/* .search_bar {
    position: absolute;
    left: 460px;
    top: 10px;
}

.listproperty {
    position: relative;
    bottom: 53px;
    left: 1008px;
    width: 266px;
    height: 40px;
    border-radius: 32px;
    border: 1px solid white;
}

.prop {
    position: relative;
    left: 60px;
    top: 10px;
    font-size: 16px;
    width: 140px;


}

.about {
    position: relative;
    bottom: 95px;
    background-color: #D9D9D9;
    ;
    border-radius: 50%;
    ;
    width: 47px;
    height: 47px;
    left: 1360px;
} */ 

/* .resident-type {
    height: 625px;
    width: 1520px;



}

.column-pg {
    width: 25%;
    height: 45vh;
    position: relative;
    float: left;
    text-align: center;
    top: 14%;
    left: 130px;
    border: 1px solid black;
    background-image: url(/public/Assets/Images/pexels-curtis-adams-7601116.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.column-hostel {
    width: 25%;
    height: 45vh;
    position: relative;
    float: left;
    text-align: center;
    top: 14%;
    left: 195px;
    border: 1px solid black;
    background-image: url(images/pexels-pixabay-260553.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.column-apartment {
    width: 25%;
    height: 45vh;
    position: relative;
    float: left;
    text-align: center;
    top: 14%;
    left: 260px;
    border: 1px solid black;
    background-image: url(images/pexels-vlado-paunovic-14383526.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.pg {
    width: 35px;

    position: relative;
    top: 78%;
    left: 133px;
    font-size: 20px;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
/* } */

/* .hostel {
    width: 70px;
    position: relative;
    top: 75%;
    left: 580px;
    font-size: 20px;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */


/* .apartment {
    width: 110px;

    position: relative;
    top: 71%;
    left: 1025px;
    font-size: 20px;
    font-weight: bold; */ 
    /* font-family: Arial, Helvetica, sans-serif; */
/* }

.main-container-rooms-examples {
    width: 1502px;
    height: 1470px;
    position: relative;
    left: 18px;


}

.popular-pg-hostels-apartments {
    width: 1323px;
    height: 1400px;
    position: absolute;
    left: 90px; */
    /* background-color: bisque; */
/* }

.popular-pg-in-kolkata {

    width: 1323px;
    height: 465px;

} */ 

/* .popular-pg-text,
.popular-hostel-text,
.popular-apartment-text {
    position: relative;
    font-size: 23px;
    left: 20px;


}

.column-pg-in-kolkata-1 {
    width: 420px;
    height: 55vh;
    float: left;
    position: relative;
    top: 17px;
    left: 14px;
    border-radius: 9px;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);
}

.column-pg-in-kolkata-2 {
    width: 420px;
    height: 55vh;
    float: left;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);
    position: relative;
    top: 17px;
    left: 28px;
    border-radius: 9px;

}

.column-pg-in-kolkata-3 {
    width: 420px;
    height: 55vh;
    float: left;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);
    position: relative;
    top: 17px;
    left: 42px;
    border-radius: 9px;

}

.column-pg-1-1,
.column-pg-2-2,
.column-pg-3-3 {
    width: 391px;
    height: 32vh;
    border-radius: 9px;
    position: absolute;
    left: 15px;
    top: 25px;
    background-color: #D9D9D9;
}

.pg-name {
    position: absolute;
    top: 38vh;
    left: 15px;
    font-size: 15px;
}

.pg-area {
    position: absolute;
    top: 42vh;
    left: 17px;
    font-size: 15px;

}

.pg-btn {
    position: absolute;
    width: 391px;
    height: 5vh;
    top: 48vh;
    left: 15px;
    border-radius: 9px;
    background-color: #D9D9D9;
    border: none;
    font-size: 17px;
} */

/* .like-meter-pg {
    width: 34px;
    height: 34px;
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-size: 34px 34px;
    position: absolute;
    top: 10px;
    left: 15px;

}

.gender-specific-pg {
    width: 95px;
    height: 44px;
    position: absolute;
    left: 296px;
    background-color: #28D939;
    border-radius: 9px 9px 0px 9px;

}

.popular-hostel-in-kolkata {
    /* margin-top: 20px; */
    /* width: 1323px;
    height: 465px;


}

.column-hostel-in-kolkata-1 {
    width: 420px;
    height: 55vh;
    float: left;
    position: relative;
    top: 17px;
    left: 14px;
    border-radius: 9px;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);



} */

/* .column-hostel-in-kolkata-2 {
    width: 420px;
    height: 55vh;
    float: left;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);
    position: relative;
    top: 17px;
    left: 28px;
    border-radius: 9px;

}

.column-hostel-in-kolkata-3 {
    width: 420px;
    height: 55vh;
    float: left;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);
    position: relative;
    top: 17px;
    left: 42px;
    border-radius: 9px; */

/* } */
/* 
.column-hostel-1-1,
.column-hostel-2-2,
.column-hostel-3-3 {
    width: 391px;
    height: 32vh;
    border-radius: 9px;
    position: absolute;
    left: 15px;
    top: 25px;
    background-color: #D9D9D9;
}

.hostel-name {
    position: absolute;
    top: 38vh;
    left: 15px;
    font-size: 15px;
}

.hostel-area {
    position: absolute;
    top: 42vh;
    left: 15px;
    font-size: 15px;
}

.hostel-btn {
    position: absolute;
    width: 391px;
    height: 5vh;
    top: 48vh;
    left: 15px;
    border-radius: 9px;
    background-color: #D9D9D9;
    border: none;
    font-size: 17px;
}

.like-meter-hostel {
    width: 34px;
    height: 34px;
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-size: 34px 34px;
    position: absolute;
    top: 10px;
    left: 15px;

} */
/* 
.gender-specific-hostel {
    width: 95px;
    height: 44px;
    position: absolute;
    left: 296px;
    background-color: #28D939;
    border-radius: 9px 9px 0px 9px;

}


.popular-apartment-in-kolkata {

    width: 1323px;
    height: 465px;

}

.column-apartment-in-kolkata-1 {
    width: 420px;
    height: 55vh;
    float: left;
    position: relative;
    top: 17px;
    left: 14px;
    border-radius: 9px;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);



}

.column-apartment-in-kolkata-2 {
    width: 420px;
    height: 55vh;
    float: left;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);
    position: relative;
    top: 17px;
    left: 28px;
    border-radius: 9px;

}

.column-apartment-in-kolkata-3 {
    width: 420px;
    height: 55vh;
    float: left;
    box-shadow: 2px 4px 4px 3px rgba(134, 134, 134, 0.25);
    position: relative;
    top: 17px;
    left: 42px;
    border-radius: 9px;

}

.column-apartment-1-1,
.column-apartment-2-2,
.column-apartment-3-3 {
    width: 391px;
    height: 32vh;
    border-radius: 9px;
    position: absolute;
    left: 15px;
    top: 25px;
    background-color: #D9D9D9;
}

.apartment-name {
    position: absolute;
    top: 38vh;
    left: 15px;
    font-size: 15px;
}

.apartment-area {
    position: absolute;
    top: 42vh;
    left: 15px;
    font-size: 15px;
}

.apartment-btn {
    position: absolute;
    width: 391px;
    height: 5vh;
    top: 48vh;
    left: 15px;
    border-radius: 9px;
    background-color: #D9D9D9;
    border: none;
    font-size: 17px;
} */

/* .like-meter-apartment {
    width: 34px;
    height: 34px;
    background-image: url(images/heart.png);
    background-repeat: no-repeat;
    background-size: 34px 34px;
    position: absolute;
    top: 10px;
    left: 15px;

}

.gender-specific-apartment {
    width: 95px;
    height: 44px;
    position: absolute;
    left: 296px;
    background-color: #28D939;
    border-radius: 9px 9px 0px 9px;

}

.gender-text {
    text-align: center;
    position: relative;
    top: 11px;
    font-size: 17px;
    color: white;
}

.footer-section {
    width: 1520px;
    height: 460px;

}

.footer-text-section {
    border-top: 1px solid black;
    width: 1290px;
    position: absolute;
    left: 120px;

} */

/* .brand {
    width: 180px;
    height: 36px;
    position: absolute;
    top: 60px;
    font-size: 21px;
    font-weight: bold;

}

.brand-about-info {
    width: 670px;
    height: 238px;
    position: absolute;
    top: 125px;
    font-size: 16px;
    word-spacing: 3px;
} */

/* .social-media {
    width: 170px;
    height: 39px;
    font-size: 20px;
    position: absolute;
    top: 400px;
}

.services {
    width: 125px;
    height: 36px;
    position: absolute;
    left: 1020px;
    top: 60px;
    font-size: 21px;
}

.services-text {
    width: 220px;
    height: 234px;
    position: absolute;
    left: 1020px;
    top: 125px;
    font-size: 16px;
    word-spacing: 2px;

}

.facebook-logo {
    Width: 35px;
    Height: 35px;
    position: absolute;
    top: 380px;
    left: 1010px;
    background-image: url(images/facebook.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;

}

.instagram-logo {
    Width: 35px;
    Height: 35px;
    position: absolute;
    top: 380px;
    left: 1060px;
    background-image: url(images/instagram.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;

}

.twitter-logo {
    Width: 35px;
    Height: 35px;
    position: absolute;
    top: 380px;
    left: 1110px;
    background-image: url(images/twitter.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;

}

.youtube-logo {
    Width: 35px;
    Height: 35px;
    position: absolute;
    top: 380px;
    left: 1160px;
    background-image: url(images/youtube.png);
    background-size: 35px 35px;

}

.linkedln-logo {
    Width: 35px;
    Height: 35px;
    position: absolute;
    top: 380px;
    left: 1210px;
    background-image: url(images/linkedin.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;

}

.copyright-section {
    width: 1520px;
    height: 75px;
    background-color: #464646;
    color: white;
    border-radius: 11px 11px 0px 0px;

}

.copyright {

    text-align: center;
    position: relative;
    top: 30px;
    font-size: 19px;

} */ 

/* @media screen and (min-width:1200px) and (max-width: 1520px) { 
    .navbar{
        width: 1300px;
    }
    .listproperty{
        position: relative;
        left: 950px;
    }
    .prop{
        position: relative;
        left: 35px;
    }
    .about{
        position: relative;
        left:1300px;
    }
} */