@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    margin:0px;
    font-family: 'Inter', sans-serif;
}
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.signup-graphics-container {
    margin-right: 160px;
}
.signup-essentials {
    margin-right: 70px;
}
.input-box{
    border:none;
}

.border-line{
    height: 0.5px;
    background-color: black;
    width:300px;
    margin-bottom: 20px;
}
input:focus{
    outline: none;
}
#submit-btn{
    height:50px;
    width:300px;
    border-radius:25px;
    /* padding: 10px 10px; */
    background-color: #393636;
    color: white;
    border-style: none;
    font-size:16px;
    margin-top:10px;
}
.login-container{
    font-size: 15px;
}
.log-in-box{
    color: #00D285;
    font-weight: 600;
}